[submodule "subprojects/assimp"]
    path = subprojects/assimp
    url  = https://github.com/assimp/assimp.git

[submodule "subprojects/glfw"]
    path = subprojects/glfw
    url  = https://github.com/glfw/glfw.git

[submodule "subprojects/webview"]
	path = subprojects/webview
	url = https://github.com/webview/webview.git
[submodule "subprojects/entt"]
	path = subprojects/entt
	url = https://github.com/skypjack/entt.git
[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json.git
[submodule "subprojects/glm"]
	path = subprojects/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/third/glm"]
	path = src/third/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/third/spdlog"]
	path = src/third/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "subprojects/mimalloc"]
	path = subprojects/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "subprojects/miniaudio"]
	path = subprojects/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "src/third/stb"]
	path = src/third/stb
	url = https://github.com/nothings/stb.git
[submodule "subprojects/saba"]
	path = subprojects/saba
	url = https://github.com/Yic-vo-Tni/saba.git
